@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Varela+Round&display=swap');


:root{
    --dark-1: #111;
    --light-1: #eee;
    --text-color-1: #333;
    --transitime: .4s;
}

:root{
    --dark-1: #111;
    --light-1: #eee;
    --light-2: rgb(248, 247, 247);
    --dark-2: #333;
    --secondary-color:rgb(228, 38, 38);
    --transitime: .4s;
    --page-height: calc(100vh - 4.5rem);
    --nav-bar-height:4.5rem;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--light-1);
}

.loading-screen-anim{
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--light-1);
    display: grid;
    place-items: center;
    z-index: 3;
}


#success-icon{
    animation: fill 0.5s ease forwards 2s;
    stroke-dasharray: 1654.1079406738281;
    stroke-dashoffset: 1654.1079406738281;
    animation:  line-anim 2s ease forwards 0s , fill-2 1s ease forwards 1s;
}

#failed-icon{
    animation: fill 0.5s ease forwards 2s;
    stroke-dasharray: 1654.1079406738281;
    stroke-dashoffset: 1654.1079406738281;
    animation:  line-anim 2s ease forwards 0s , fill-3 1s ease forwards 1s;   
}


#info-icon{
    animation: fill 0.5s ease forwards 2s;
    stroke-dasharray: 1654.1079406738281;
    stroke-dashoffset: 1654.1079406738281;
    animation:  line-anim 2s ease forwards 0s , fill-4 1s ease forwards 0s;   
}

 
#svgText{
    animation: fill 0.5s ease forwards 2s;
}

  #svgText path:nth-child(1){
     stroke-dasharray: 354.1079406738281;
     stroke-dashoffset: 354.1079406738281;
     animation:  line-anim 2s ease forwards 0.1s;
  }

  
  #svgText path:nth-child(2){
    stroke-dasharray: 339.78668212890625;
    stroke-dashoffset: 339.78668212890625;
    animation:  line-anim 2s ease forwards 0.3s;
}

#svgText path:nth-child(3){
    stroke-dasharray: 375.1319885253906;
    stroke-dashoffset: 375.1319885253906;
    animation:  line-anim 2s ease forwards 0.5s;
}

#svgText path:nth-child(4){
    stroke-dasharray: 202.87179565429688;
    stroke-dashoffset: 202.87179565429688;
    animation:  line-anim 2s ease forwards 0.7s;
}

#svgText path:nth-child(5){
    stroke-dasharray: 395.00982666015625;
    stroke-dashoffset: 395.00982666015625; 
    animation:  line-anim 2s ease forwards 0.9s;   
}

#svgText path:nth-child(6){
    stroke-dasharray: 395.0098876953125;
    stroke-dashoffset: 395.0098876953125;
    animation:  line-anim 2s ease forwards 1.2s;       
}

#svgText path:nth-child(7){
    stroke-dasharray:  382.1815185546875;
    stroke-dashoffset:  382.1815185546875;    
    animation:  line-anim 2s ease forwards 1.5s;   
}


@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }

    to{
       fill: var(--dark-1);
    }
}


@keyframes fill-2{
    from{
        
        fill: transparent;
        margin-top: -3rem;
    }

    to{
        
       fill: green;
       margin-top: 0rem;
    }
}


@keyframes fill-3{
    0%{
        transform: scale(1);
        fill: transparent;
        margin-top: -3rem;
        
    }
    30%{
      
        transform: scale(.9);  
    }
  

    40%{
      
        transform: scale(1);  
    }
  
    70%{
      
        transform: scale(.9);  
    }
  

    100%{
        
       fill: red;
       margin-top: 0rem;
       transform: scale(1);
    }
}



@keyframes fill-4{
    0%{
        transform: scale(1);
        fill: transparent;
        margin-top: -3rem;
        
    }
    30%{
      
        transform: scale(.9);  
    }
  

    40%{
      
        transform: scale(1);  
    }
  
    70%{
      
        transform: scale(.9);  
    }
  

    100%{
        
       fill: goldenrod;
       margin-top: 0rem;
       transform: scale(1);
    }
}

.login-container{
    width: 80vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.sub-text{
    font-size: .7rem;
    font-weight: 1000;
    color:#777;
    text-align: center;
}

.input-holder{
    width: 80vw;
    height: 2rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.input-holder input{
    border: none;
    outline: none;
    width: 100%;  
    height: 100%;  
    padding: .5rem .5rem;
    font-weight: 1000;
    background: #fff;
}

.input-holder input::placeholder{
    font-weight: 1000;
}

.form-holder{
    margin-top: 4rem;
}

.form-holder form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.big-btn{
    width: 100%;
    border: none;
    outline: none;
    height: 2rem;
    color: var(--dark-1);
    font-weight: 1000;
    margin-bottom: 1rem;
    background: var(--light-2);
}

.red{
    color: var(--light-1);
    background: var(--secondary-color);
}

.form-2{
    display: none;
}